html, body {
    height: 100%;
}

.wrapper-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

footer, div#content {
    display: none;
}

.footer {
    background-color: #000000;
}

div#loading {
    position: absolute;
    z-index: 1000;
    cursor: wait;
    }

#content {
    margin-top: 60px;
}

.user {
    display: flex;
    align-items: center;
}


.hero {
    background-image: url(/static/images/background/main-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 94vh;
}

@media (max-width: 770px) {
    .hero {
        background-image: url(/static/images/background/main-mobile.jpg)
    }
}

.hero-bg img {
    width: 100%;
    height: auto;
}

.hero-title {
    position: absolute;
    top: 10%;
    left: 70%;
    transform: translate(-50%);
    z-index: 2;
    margin-top: 50px;
}

.setups_car-title > h1, h2 {
    display: inline-block;
}

.setup-bg {
    background-color: #EDEDED;
}

.table-light > th {
    width: 35%;
}


@media (min-width: 375px) {
    .table {
        width: 100%;
    }

    .table-light > th {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .flex-container {
        flex-wrap: wrap;
    }

    .hero-title {
        top: 5%;
        left: 50%;
        margin-top: 10px;
        width: 220px;
    }
}

/*  */
.goTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* background-color: hsla(0, 0%, 0%, 0.065); Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.bar1, .bar2 {
    width: 20px;
    height: 2px;
    margin: 3px 0 0 -4px;
    transition: 0.7s;
    background-color: #000000;
    border-radius: 1rem
}

.bar1 {
    transform: rotate(128deg) translate(3px, 3px);
}

.bar2{
    transform: rotate(45deg) translate(2px, -9px);
}

.goTopButton:hover {
    background-color: rgba(0, 0, 0, 0.223); /* Add a dark-red background on hover */
}