{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block main %}
    <div class="container">
        <div class="user-data pt-5">
            <h1>Hello, {{ username }}!</h1>
        </div>
        <div class="container-fluid mt-3">
            <table class="table table-sm table-boardered table-striped shadow p-4 mb-4 bg-white ">
                <tr class="table-dark">
                    <th class="text-center" colspan="100%">Favorite setups</th>
                </tr>
            {% if session["user_id"] %}
                {% if setups %}
                    {% for setup in setups %}
                    <tr class="table-light">
                        <td class="text-start account-setups-td">{{ setup["brand"] }} {{ setup["model"] }}</td>
                        <td class="text-start account-setups-td">{{ setup["location_name"] }}</td>
                        <td class="text-start account-setups-td">Tyres: {{ setup["tyres"] }}</td>
                        {% if setup["conditions"] == "Dry" %}
                        <td class="table-warning text-start account-setups-td">Condition: {{ setup["conditions"] }}</td>
                        <td class="text-start account-setups-td">Surface: {{ setup["surface"] }}</td>
                        <td>
                            <form action="/account/favorite_setup/{{ setup['model'] }}/{{ setup['location_name'] }}" method="post">
                                <input name="location_name" value="{{ setup['location_name'] }}" type="text" hidden>
                                <input name="model" value="{{ setup['model'] }}" type="text" hidden>
                                <input name="setup_id" value="{{ setup['setup_id'] }}" type="text" hidden>
                                <button class="btn btn-danger" type="submit">Show setup</button>
                            </form>
                        </td>
                        {% endif %}
                        {% if setup["conditions"] == "Wet" %}
                        <td class="table-primary text-start account-setups-td">Condition: {{ setup["conditions"] }}</td>
                        <td class="text-start account-setups-td">Surface: {{ setup["surface"] }}</td>
                        <td>
                            <form action="/account/favorite_setup/{{ setup['model'] }}/{{ setup['location_name'] }}" method="post">
                                <input name="location_name" value="{{ setup['location_name'] }}" type="text" hidden>
                                <input name="model" value="{{ setup['model'] }}" type="text" hidden>
                                <input name="setup_id" value="{{ setup['setup_id'] }}" type="text" hidden>
                                <button class="btn btn-danger" type="submit">Show setup</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr class="table-light">
                        <td class="text-center">No favorite setups yet!</td>
                    </tr>
                {% endif %}
            {% endif %}

            </table>
        </div>
    </div>
{% endblock %}