{% extends "layout.html" %}

{% block title %}
    {{ location }}
{% endblock %}

{% block main %}
        <div class="setups_car-title">
            <h1>Ford Focus</h1>
            <h3>Setup for: {{ location }} </h3>
        </div>
        <div class="container-fluid mt-3">
                <table class="table shadow p-4 mb-4 bg-white">
                <thead>
                    <tr class="table-light">
                        <th class="text-start">Tyres</th>
                        <th class="text-start">Conditions</th>
                        <th class="text-end">Toe Angle Front</th>
                        <th class="text-end">camberAngleFront</th>
                        <th class="text-end">toeAngleRear</th>
                        <th class="text-end">camberAngleRear</th>
                        <th class="text-end">brakingForce</th>
                        <th class="text-end">brakeBias</th>
                        <th class="text-end">frontLSDDrivingLock</th>
                        <th class="text-end">frontLSDBrakingLock</th>
                        <th class="text-end">frontLSDPreload</th>
                        <th class="text-end">frontVisDif</th>
                        <th class="text-end">centerVisDif</th>
                        <th class="text-end">rearVisDif</th>
                        <th class="text-end">rearLsdDrivLock</th>
                        <th class="text-end">rearLsdBrakeLock</th>
                        <th class="text-end">rearLSDPreload</th>
                        <th class="text-end">gear1</th>
                        <th class="text-end">gear2</th>
                        <th class="text-end">gear3</th>
                        <th class="text-end">gear4</th>
                        <th class="text-end">gear5</th>
                        <th class="text-end">gear6</th>
                        <th class="text-end">finalDrive</th>
                        <th class="text-end">note</th>
                        <th class="text-end">optimalShift</th>
                        <th class="text-end">slowBumpFront</th>
                        <th class="text-end">fastBumpFront</th>
                        <th class="text-end">bumpZoneDivFront</th>
                        <th class="text-end">slowReboundFront</th>
                        <th class="text-end">slowBumpRear</th>
                        <th class="text-end">fastBumpRear</th>
                        <th class="text-end">bumpZoneDivRear</th>
                        <th class="text-end">slowReboundRear</th>
                        <th class="text-end">rideHeightFront</th>
                        <th class="text-end">springRateFront</th>
                        <th class="text-end">rollBarFront</th>
                        <th class="text-end">rideHeightRear</th>
                        <th class="text-end">springRateRear</th>
                        <th class="text-end">rollBarRear</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setup in car_setups %}
                    <tr class="table-dark table-stripped">
                        <th class="text-start">{{ setup['tyres'] }}</th>
                        <th class="text-start">{{ setup['conditions'] }}</th>
                        <th class="text-start">{{ setup['toeAngleFront'] }}</th>
                        <th class="text-start">{{ setup['camberAngleFront'] }}</th>
                        <th class="text-start">{{ setup['toeAngleRear'] }}</th>
                        <th class="text-start">{{ setup['camberAngleRear'] }}</th>
                        <th class="text-start">{{ setup['brakingForce'] }}</th>
                        <th class="text-start">{{ setup['brakeBias'] }}</th>
                        <th class="text-start">{{ setup['rontLSDDrivingLock'] }}</th>
                        <th class="text-start">{{ setup['frontLSDBrakingLock'] }}</th>
                        <th class="text-start">{{ setup['frontLSDPreload'] }}</th>
                        <th class="text-start">{{ setup['frontVisDif'] }}</th>
                        <th class="text-start">{{ setup['centerVisDif'] }}</th>
                        <th class="text-start">{{ setup['rearVisDif'] }}</th>
                        <th class="text-start">{{ setup['rearLsdDrivLock'] }}</th>
                        <th class="text-start">{{ setup['rearLsdBrakeLock'] }}</th>
                        <th class="text-start">{{ setup['rearLSDPreload'] }}</th>
                        <th class="text-start">{{ setup['gear1'] }}</th>
                        <th class="text-start">{{ setup['gear2'] }}</th>
                        <th class="text-start">{{ setup['gear3'] }}</th>
                        <th class="text-start">{{ setup['gear4'] }}</th>
                        <th class="text-start">{{ setup['gear5'] }}</th>
                        <th class="text-start">{{ setup['gear6'] }}</th>
                        <th class="text-start">{{ setup['finalDrive'] }}</th>
                        <th class="text-start">{{ setup['note'] }}</th>
                        <th class="text-start">{{ setup['optimalShift'] }}</th>
                        <th class="text-start">{{ setup['slowBumpFront'] }}</th>
                        <th class="text-start">{{ setup['fastBumpFront'] }}</th>
                        <th class="text-start">{{ setup['bumpZoneDivFront'] }}</th>
                        <th class="text-start">{{ setup['slowReboundFront'] }}</th>
                        <th class="text-start">{{ setup['slowBumpRear'] }}</th>
                        <th class="text-start">{{ setup['fastBumpRear'] }}</th>
                        <th class="text-start">{{ setup['bumpZoneDivRear'] }}</th>
                        <th class="text-start">{{ setup['slowReboundRear'] }}</th>
                        <th class="text-start">{{ setup['rideHeightFront'] }}</th>
                        <th class="text-start">{{ setup['springRateFront'] }}</th>
                        <th class="text-start">{{ setup['rollBarFront'] }}</th>
                        <th class="text-start">{{ setup['rideHeightRear'] }}</th>
                        <th class="text-start">{{ setup['springRateRear'] }}</th>
                        <th class="text-start">{{ setup['rollBarRear'] }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}