{% extends "layout.html" %}

{% block title %}
    Cars
{% endblock %}

{% block main %}

    <div class="container-fluid mt-3">
        <h2 class="mb-5">Cars list</h2>
        <div class="container-xl d-flex flex-wrap">
            <div class="card m-5 bg-dark text-white" style="width:400px">
                <img class="card-img-top" src="/static/images/cars/subimpr.png" alt="Car image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title mb-3">Subaru Impreza</h4>
                    <a href="/sub-impreza" class="btn btn-primary">Setups</a>
                </div>
            </div>
    
            <div class="card m-5 bg-dark text-white" style="width:400px">
                <img class="card-img-top" src="/static/images/cars/mitslancer.png" alt="Car image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title mb-3">Mitsubishi Lancer</h4>
                    <a href="/sub-impreza" class="btn btn-primary">Setups</a>
                </div>
            </div>

        </div>
    </div>


{% endblock %}