{% extends "layout.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block main %}
    <div class="container mt-3 text-center">
        <div class="mt-5 pt-5">
            <h1>Reset password</h1>
        </div>
        <form action="/password_reset" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Repeat Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>
{% endblock %}
